.nav__link {   
    color: black; 
    text-decoration: none; 
}

h1 {
    
    float: left;
}

nav{
    float: right;
}

main {
    padding: 160px;
    text-align: center;
}

footer {   
    text-align: left;
    margin-top: 330px;
}

